<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!-- start Head-->
    <nav class="navbar container  navbar-expand-md navbar-light ">
       <div class="br">
        <img src="https://s1.vnecdn.net/vnexpress/restruct/i/v690/v2_2019/pc/graphics/logo.svg" class="img-fluid mr-3 " alt="">
       </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <span href="#" class="nav-item nav-link">Thứ 6,9/12/2022</span>
                
            </div>
            <div class=" d-flex align-items-center">
               <div class="mr-3 br">
               <div class="g10 mr-3">
                <a href="" class="tl"><i class="fa-solid fa-clock  "></i></i>Mới nhất</a>
                <a href="" class="tl"><i class="fa-solid fa-location-dot  "></i>Tin khu vực</a>
                <a href="" class="tl">International</a>
               </div>
               </div>
               <div class="navbar-nav ml-auto br align-items-center">
               
                   <div class="search">
                    <input type="text" placeholder="Tìm kiếm" class="ip">
                    <button class="sr">
                        <i class="fa-solid fa-magnifying-glass "></i>
                    </button>
                   </div>
               
                <a href="#" class="nav-item nav-link"><i class="fa-solid fa-user "></i>Đăng nhập</a>
            </div>
            </div>
           
           
        </div>
    </nav>
    <div class="container-fluid b1 hk bb">
        <div class="d-flex justify-content-between align-items-center">
            <li><i class="fa-solid fa-house"></i></li>
            <ul class="d-flex justify-content-between align-items-center b0 py-3 head w-100 ">
                
                <li>Thời sự</li>
                <li>Góc nhìn</li>
                <li>Thế giới</li>
                <li>Video</li>
                <li>Podcasts</li>
                <li>Kinh doanh</li>
                <li>Khoa học</li>
                <li>Giải trí</li>
                <li>Thể thao</li>
                <li>Pháp luật</li>
                <li>Giáo dục</li>
                <li>Sức khỏe</li>
                <li>Đời sống</li>
                <li>Du lịch</li>
                <li>Số hóa</li>
                <li>Xe </li>
                <li>ý kiến</li>
            </ul>
        </div>
    </div>
    <!-- End Head-->
    <!--satrt main-->
    <div class="container py-4">
        <div class="row bt">
            <div class="col-md-9">
               <div class="row">
                    <div class="col-md-8 pr-0" >
                        <img src="https://i1-vnexpress.vnecdn.net/2022/12/07/img-1396-jpg-1670385049-167038-4171-5767-1670386051.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=BxAUpJrvjqrsf9e7K4A5HA" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4 bg-light">
                       <a href=""><h4>Thức suốt đêm chờ rút bảo hiểm xã hội một lần</h4></a> 
                        <p>TP HCMHàng trăm người dân xếp hàng suốt đêm trước trụ sở Bảo hiểm xã hội TP Thủ Đức, huyện Hóc Môn, chờ làm thủ tục rút bảo hiểm xã hội một lần.</p>
                    </div>
               </div>
                <div class="row py-3 ">
                    <div class="col-md-4">
                        <a href="" class="">Tập kết 5.000 tấn rác trên đường trung tâm thành phố</a>
                        <p>HÒA BÌNHVới hàng nghìn tấn rác thải tồn đọng, thành phố phải tập kết rác tạm thời trên đường trung tâm, đào hố chôn trong rừng.</p>
                    </div>
                    <div class="br col-md-4">
                        <a href="">Nhiều ngành học sắp 'trắng' giáo sư</a>
                        <p>Từ năm 2013 đến 2022, số giáo sư, phó giáo sư giảm rõ rệt, có ngành học 10 năm không có ứng viên.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="gn">Góc nhìn</span>  </br>
                        <a href="">Thị trưởng và chủ tịch</a>
                        <p>Điểm cốt lõi để đưa mô hình thị trưởng vào thực tiễn là nhập hai vị trí bí thư thành uỷ và chủ tịch thành phố vào một người. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="meta-news">
                                <a href="" class="meta-news-info">Nguyễn Ngọc Chu</a> 
                                <a href=""><i class="fa-solid fa-comment"></i>18</a>
                            </p>
                            <div class="meta-image">
                                <img src="https://i1-vnexpress.vnecdn.net/2022/08/27/NguyenNgocChuremovebgpreviewapng-1661608206.png?w=100&h=100&q=100&dpr=1&fit=crop&s=dt8iIbk1U_LVgyCeeAe36g" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="https://images.unsplash.com/photo-1575830210841-25272641379b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=275&q=80" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row py-4 bt">
            <div class="col-md-5 br " style="padding-left: 0px;">
                <div class="bt pb-3">
                    <img src="https://s1.vnecdn.net/vnexpress/restruct/i/v687/banner/wc-2022/Banner-wc-pc.png" class="img-fluid" alt="">
                </div>
                <div class="bt py-3">
                    <a href="" >An ninh siết chặt tại phiên xử Chủ tịch địa ốc Alibaba</a>
                <div class="row pt-3">
                    <div class="col-md-5">
                        <img src="https://i1-vnexpress.vnecdn.net/2022/12/07/an-nhon-9444-1670418448.jpg?w=120&h=72&q=100&dpr=2&fit=crop&s=F_1OAADBecHLgKK_eNifzA" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pl-0">
                        <p>TP HCMSáng 8/12, nhiều lớp cảnh sát giữ an ninh trật tự từ cổng toà vào sân và phòng xét xử Nguyễn Thái Luyện, Chủ tịch địa ốc Alibaba, cùng 22 đồng phạm.</p>
                    </div>
                </div>
                </div>
                <div class="bt py-3">
                    <a href="" >Bình Định kiến nghị lập TP An Nhơn</a>
                <div class="row pt-3">
                    <div class="col-md-5">
                        <img src="https://i1-vnexpress.vnecdn.net/2022/12/07/an-nhon-9444-1670418448.jpg?w=120&h=72&q=100&dpr=2&fit=crop&s=F_1OAADBecHLgKK_eNifzA" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pl-0">
                        <p>Tỉnh Bình Định muốn nâng cấp thị xã An Nhơn với diện tích 244 km2 và 180.000 người lên thành phố với chức năng là đô thị kết nối miền Trung và Tây Nguyên.</p>
                    </div>
                </div>
                </div>
                <div class="bt py-3">
                    <a href="" >Bình Định kiến nghị lập TP An Nhơn</a>
                <div class="row pt-3">
                    <div class="col-md-5">
                        <img src="https://i1-vnexpress.vnecdn.net/2022/12/07/an-nhon-9444-1670418448.jpg?w=120&h=72&q=100&dpr=2&fit=crop&s=F_1OAADBecHLgKK_eNifzA" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pl-0">
                        <p>Tỉnh Bình Định muốn nâng cấp thị xã An Nhơn với diện tích 244 km2 và 180.000 người lên thành phố với chức năng là đô thị kết nối miền Trung và Tây Nguyên.</p>
                    </div>
                </div>
                </div>
                <div class="bt py-3">
                    <a href="" >Bình Định kiến nghị lập TP An Nhơn</a>
                <div class="row pt-3">
                    <div class="col-md-5">
                        <img src="https://i1-vnexpress.vnecdn.net/2022/12/07/an-nhon-9444-1670418448.jpg?w=120&h=72&q=100&dpr=2&fit=crop&s=F_1OAADBecHLgKK_eNifzA" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pl-0">
                        <p>Tỉnh Bình Định muốn nâng cấp thị xã An Nhơn với diện tích 244 km2 và 180.000 người lên thành phố với chức năng là đô thị kết nối miền Trung và Tây Nguyên.</p>
                    </div>
                </div>
                </div>
                <div class="bt py-3">
                    <a href="" >Bình Định kiến nghị lập TP An Nhơn</a>
                <div class="row pt-3">
                    <div class="col-md-5">
                        <img src="https://i1-vnexpress.vnecdn.net/2022/12/07/an-nhon-9444-1670418448.jpg?w=120&h=72&q=100&dpr=2&fit=crop&s=F_1OAADBecHLgKK_eNifzA" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pl-0">
                        <p>Tỉnh Bình Định muốn nâng cấp thị xã An Nhơn với diện tích 244 km2 và 180.000 người lên thành phố với chức năng là đô thị kết nối miền Trung và Tây Nguyên.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-7 ">
                <div class="bt pb-3">
                    <ul class="ti-ul">
                        <li><a href="" class="a-k" >Kinh doanh</a></li>
                        <li><a href="" class="a-k">Quốc tế</a></li>
                        <li><a href="" class="a-k">Doanh nghiệp</a></li>
                        <li><a href="" class="a-k">Chứng khoán</a></li>
                        <li><a href="" class="a-k">Bất động sản</a></li>
                        <li><a href="" class="a-k">Bảo hiểm</a></li>
                    </ul>
                    <div class="row ">
                        <div class="col-md-8 br">
                            <div class="row">
                                <div class="col-md-6" style="padding-right: 0;">
                                    <div class="h-100">
                                        <img src="https://i1-kinhdoanh.vnecdn.net/2022/12/07/anh-bthep-jpeg-1670399780-4984-1670399788.jpg?w=380&h=228&q=100&dpr=1&fit=crop&s=KXSD6sVFAj8ljMJY5km53Q" class="img-fluid h-100 " alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                   <div>
                                    <a href="">Tiêu thụ thép thấp nhất hai năm</a>
                                    <p class="ab">HÒA BÌNHVới hàng nghìn tấn rác thải tồn đọng, thành phố phải tập kết rác tạm thời trên đường trung tâm, đào hố chôn trong rừng.</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div>
                                    <a href="">Tiêu thụ thép thấp nhất hai năm</a>
                                    <p class="ab">Tổng lượng tiêu thụ thép toàn ngành tháng 10 giảm về mức thấp nhất hai năm trong bối cảnh các dự án bất động sản và đầu tư công ... </p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="bt py-3">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="https://tpc.googlesyndication.com/pagead/imgad?id=CICAgODskInFnQEQARgBMghZFf9_GmaM4g" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-7">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><a href="">Giá vàng</a></td>
                                        <td>Mua</td>
                                        <td>Bán</td>
                                    </tr>
                                    <tr>
                                        <td>Vàng SJC (triệu đồng/lượng)</td>                                    
                                        <td>66,35</td>
                                        <td>67,15</td>
                                    </tr>
                                    <tr>
                                        <td>Thế giới (USD/ounce)</td>                                    
                                        <td>1.782,8</td>
                                        <td>1.783,3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="bt py-3">
                    <ul class="d-flex gap-3 idam g3">
                        <li><a href="">Hơn 2.400 mã sản phẩm được cấp phép xuất sang Trung Quốc</a></li>
                        <li><a href="">Airbus muốn mở rộng hợp tác hàng không vũ trụ với Việt Nam</a></li>
                        <li><a href="">Fed hướng đến lãi suất cao hơn dù giảm tốc đà tăng</a></li>
                    </ul>
                </div>
                <div class="bt py-3">
                    <ul class="ti-ul">
                        <li><a href="" class="a-k">Bóng đá</a></li>
                        <li><a href="" class="a-k">Lịch thi đấu</a></li>
                        <li><a href="" class="a-k">World cup 2022</a></li>
                        <li><a href="" class="a-k">Tennis</a></li>
                        <li><a href="" class="a-k">Cầu lông</a></li>
                       
                    </ul>
                    <div class="row ">
                        <div class="col-md-8 br">
                            <div class="row">
                                <div class="col-md-6" style="padding-right: 0;">
                                    <div class="h-100">
                                        <img src="https://i1-thethao.vnecdn.net/2022/12/07/ronaldo-bo-jpeg-1670422875-167-5650-2633-1670422911.jpg?w=380&h=228&q=100&dpr=1&fit=crop&s=5bRONEm9IDGl3Npy1TuNrQ" class="img-fluid h-100 " alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                   <div>
                                    <a href="">Ronaldo không tập cùng nhóm dự bị</a>
                                    <p class="ab">QATARCristano Ronaldo tập gym cùng đội hình chính Bồ Đào Nha trưa 7/12, thay vì tập trên sân bóng cùng nhóm dự bị giống anh</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div>
                                    <a href="">Chủ tịch FIFA: 'Vòng bảng World Cup 2022 hay nhất lịch sử'</a>
                                    <p class="ab">QATARTheo Chủ tịch FIFA Gianni Infantino, vòng bảng World Cup 2022 hay chưa từng có qua 22 lần tổ chức. </p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="bt py-3">
                    <ul class="d-flex idam g3">
                        <li><a href="">Walker: 'Tôi sẽ không trải thảm đỏ để Mbappe ghi bàn'  <a href=""><i class="fa-solid fa-comment"></i>18</a></a></li>
                        <li>Maguire: 'Anh tự tin vô địch World Cup 2022'  <a href=""><i class="fa-solid fa-comment"></i>18</a></li>
                        <li>Rabiot: '90% bàn thắng của Pháp phụ thuộc Mbappe  <a href=""><i class="fa-solid fa-comment"></i>18</a></li>
                    </ul>
                </div>
                <div class="bt py-3">
                    <ul class="ti-ul">
                        <li><a href="" class="a-k">Giải trí</a> </li>
                        <li><a href="" class="a-k">Giới sao</a></li>
                        <li><a href="" class="a-k">Nhạc</a></li>
                        <li><a href="" class="a-k">Thời trang</a></li>
                        <li><a href="" class="a-k">Sách</a></li>
                       
                    </ul>
                    <div class="row ">
                        <div class="col-md-8 br">
                            <div class="row">
                                <div class="col-md-6" style="padding-right: 0;">
                                    <div class="h-100">
                                        <img src="https://i1-giaitri.vnecdn.net/2022/12/08/top1-1670470397-4193-1670470670.jpg?w=380&h=228&q=100&dpr=1&fit=crop&s=hC83_tegF9EmVBy6a9NtAQ" class="img-fluid h-100 " alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                   <div>
                                    <a href="">Tài tử 'Nghĩa nặng tình thâm' lao đao vì mắc ung thư</a>
                                    <p class="ab">Nhan Quốc Lương, đóng "Nghĩa nặng tình thâm", khánh kiệt vì chữa bệnh ung thư tế bào vảy ở tuổi 73. </p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div>
                                    <a href="">Thùy Tiên đội mấn 10 kg diễn áo dài</a>
                                    <p class="ab">THÁI LANHoa hậu Nguyễn Thúc Thùy Tiên đội mấn 10 kg, trình diễn áo dài thêu hình hoa sen của Ngô Nhật Huy. </p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bt py-3">
            
                <div class="col-md-12 pl-0">
                    <ul class="ti-ul">
                        <li><a href="" class="a-k">Podcasts</a></li>
                        <li><a href="" class="a-k">VnExpress hôm nay</a></li>
                        <li><a href="" class="a-k">Giải mã</a></li>
                        <li><a href="" class="a-k">Hộp đen</a></li>
                       
                    </ul>
                </div>
           
            <div class="col-md-6 pl-0">
                <div class="bt pb-3">
                    
                    <div class="row ">
                        <div class="col-md-12 br">
                            <div class="row">
                                <div class="col-md-3" style="padding-right: 0;">
                                    <div class="h-100">
                                        <img src="https://i1-vnexpress.vnecdn.net/2022/12/08/de-quoc-lon-nhat-dong-nam-a-diet-vong-nhu-the-nao-1670488673.jpg?w=160&h=160&q=100&dpr=2&fit=crop&s=WG7Ud-KAQ-Oqh1cWrhGVKw" class="img-fluid h-100 " alt="">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                   <div>
                                    <a href="" class="row2-title" >Đế quốc lớn nhất Đông Nam Á diệt vong như thế nào?</a>
                                    <p class="ab">Sau 600 năm phát triển rực rỡ từ thế kỷ IX, nền văn minh Khmer rộng một triệu km2 đột ngột biến mất, các nhà khoa học tìm thấy nhiều lý do dẫn đến sự diệt vong này.</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-3" style="padding-right: 0;">
                                <div class="h-100">
                                    <img src="https://i1-vnexpress.vnecdn.net/2022/12/08/va-lay-tu-khung-bo-tin-dung-den-1670433233.jpg?w=160&h=160&q=100&dpr=2&fit=crop&s=2alp84cMUSd78kJLnz7odg" class="img-fluid h-100 " alt="">
                                </div>
                            </div>
                            <div class="col-md-9">
                               <div>
                                <a href="" class="row2-title" >Vạ lây từ khủng bố tín dụng đen</a>
                                <p class="ab">Không có tên trong biên bản vay tín dụng của chị họ, Hoàng Đạt và cả gia đình vẫn nhận 50 cuộc gọi hăm doạ mỗi ngày, bị ghép ảnh bêu rếu là đồng phạm chiếm đoạt tài sản.</p>
                               </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row bt py-3">
            <div class="col-md-4 br pl-0">
                <a href="">Tin tối World Cup: HLV Enrique bị sa thải; Anh có kế hoạch chặn Pháp hai năm qua</a>
                <p>De Paul nguy cơ lỡ tứ kết vì chấn thương; FIFA loại tổ trọng tài bắt trận Uruguay và Ghana... </p>
            </div>
            <div class="col-md-4 br">
                <a href="">Điểm tin 21h: Giám đốc BHXH Bắc Ninh bị bắt; TP HCM còn 'nợ' hơn 900 tỷ đồng hỗ trợ sau Covid-19</a>
                <p>Dòng tiền trở lại nhóm bất động sản, ngân hàng; TP HCM xoay xở tìm vốn đầu tư công cho năm 2023; Hà Nội đề xuất cơ chế tăng thu nhập cho công chức... </p>
            </div>
            <div class="col-md-4 br">
                <a href="">Người Việt sau 9 tháng di tản khỏi Ukraine</a>
                <p>9 tháng lánh nạn tại Đức, gia đình anh Ngô Hải được chính phủ hỗ trợ chỗ ở và gần 2.000 euro mỗi tháng nhưng ngôn ngữ vẫn là rào cản khiến anh nhiều lần muốn bỏ cuộc.</p>
            </div>
        </div>
        <div class="row bt py-3">
            <div class="col-md-12 d-flex g3 pl-0">
                <span>Chủ đề</span>
                <a href="" class="g-a">Lịch nghỉ Tết, lễ của cả năm 2023</a>
                <a href="" class="g-a">Công nhân mất việc</a>
                <a href="" class="g-a">Ông Giang Trạch Dân qua đời</a>
            </div>
        </div>
        <div class="row bt py-3">
            <div class="col-4 pl-0 br">
                <div class="bt pb-3">
                    <ul class="ti-ul">
                        <li><a href="" class="a-k">Kinh doanh</a></li>
                        <li><a href="" class="a-k">Quốc tế</a></li>
                        <li><a href="" class="a-k">Doanh nghiệp</a></li>
                       
                    </ul>
                    <div>
                        <img src="https://i1-vnexpress.vnecdn.net/2022/12/08/huy-7327-1670472720-4642-1670472801.jpg?w=380&h=228&q=100&dpr=1&fit=crop&s=oeKkEbBrkTEAoh1zpHV0zQ" class="img-fluid" alt="">
                        <a href="">Đề xuất nghiên cứu bổ sung quy hoạch 9 sân bay mới</a>
                        <p>Cục Hàng không Việt Nam vừa đề xuất Bộ Giao thông Vận tải tiếp tục nghiên cứu, đưa vào quy hoạch 9 sân bay mới khi đủ điều kiện. </p>
                    </div>
                </div>
                <div class="bt py-3">
                    <a href="">Thuê máy bơm chống ngập cho 3 khu vực ở TP HCM 'không cần thiết'</a>
                    <p>Đường Phan Huy Ích, Nguyễn Văn Quá và Thảo Điền được đề xuất chống ngập bằng máy bơm nhưng đại diện Sở Xây dựng nói không cần thiết vì đã có giải pháp khác. </p>
                </div>
            </div>
            <div class="col-md-4 br">
                <div class="bt pb-3">
                    <ul class="ti-ul">
                        <li><a href="" class="a-k">Kinh doanh</a></li>
                        <li><a href="" class="a-k">Quốc tế</a></li>
                        <li><a href="" class="a-k">Doanh nghiệp</a></li>
                       
                    </ul>
                    <div>
                        <img src="https://i1-vnexpress.vnecdn.net/2022/12/09/tau-dau-iran-1670545360-4950-1670545561.jpg?w=380&h=228&q=100&dpr=1&fit=crop&s=ok2L2G1BUIvcmdqbF2164w" class="img-fluid" alt="">
                        <a href="">Mỹ trừng phạt doanh nhân mua bán dầu Iran</a>
                        <p>Bộ Tài chính Mỹ áp lệnh trừng phạt doanh nhân Thổ Nhĩ Kỳ và cấm vận 20 công ty dưới quyền ông vì cáo buộc mua bán dầu Iran. </p>
                    </div>
                </div>
                <div class="bt py-3">
                    <a href="">Thuê máy bơm chống ngập cho 3 khu vực ở TP HCM 'không cần thiết'</a>
                    <p>Đường Phan Huy Ích, Nguyễn Văn Quá và Thảo Điền được đề xuất chống ngập bằng máy bơm nhưng đại diện Sở Xây dựng nói không cần thiết vì đã có giải pháp khác. </p>
                </div>
            </div>
            <div class="col-md-4 br">
                <div class="bt pb-3">
                    <ul class="ti-ul">
                        <li><a href="" class="a-k">Kinh doanh</a></li>
                        <li><a href="" class="a-k">Quốc tế</a></li>
                        <li><a href="" class="a-k">Doanh nghiệp</a></li>
                       
                    </ul>
                    <div>
                        <img src="https://i1-vnexpress.vnecdn.net/2022/12/08/huy-7327-1670472720-4642-1670472801.jpg?w=380&h=228&q=100&dpr=1&fit=crop&s=oeKkEbBrkTEAoh1zpHV0zQ" class="img-fluid" alt="">
                        <a href="">Đề xuất nghiên cứu bổ sung quy hoạch 9 sân bay mới</a>
                        <p>Cục Hàng không Việt Nam vừa đề xuất Bộ Giao thông Vận tải tiếp tục nghiên cứu, đưa vào quy hoạch 9 sân bay mới khi đủ điều kiện. </p>
                    </div>
                </div>
                <div class="bt py-3">
                    <a href="">Thuê máy bơm chống ngập cho 3 khu vực ở TP HCM 'không cần thiết'</a>
                    <p>Đường Phan Huy Ích, Nguyễn Văn Quá và Thảo Điền được đề xuất chống ngập bằng máy bơm nhưng đại diện Sở Xây dựng nói không cần thiết vì đã có giải pháp khác. </p>
                </div>
            </div>
        </div>
    </div>
    <!--end main-->
    <!--start Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
    </footer>
  <!--End Footer -->
    <script src="../js/index.js"></script>
</body>
</html>