<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <nav class="navbar container  navbar-expand-md navbar-light ">
        <div class="br">
         <img src="https://s1.vnecdn.net/vnexpress/restruct/i/v690/v2_2019/pc/graphics/logo.svg" class="img-fluid mr-3 " alt="">
        </div>
         <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
             <span class="navbar-toggler-icon"></span>
         </button>
     
         <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
             <div class="navbar-nav">
                 <span href="#" class="nav-item nav-link">Thứ 6,9/12/2022</span>
                 
             </div>
             <div class=" d-flex align-items-center">
                <div class="mr-3 br">
                <div class="g10 mr-3">
                 <a href="" class="tl"><i class="fa-solid fa-clock  "></i></i>Mới nhất</a>
                 <a href="" class="tl"><i class="fa-solid fa-location-dot  "></i>Tin khu vực</a>
                 <a href="" class="tl">International</a>
                </div>
                </div>
                <div class="navbar-nav ml-auto br align-items-center">
                
                    <div class="search mr-2">
                     <input type="text" placeholder="Tìm kiếm" class="ip">
                     <button class="sr">
                         <i class="fa-solid fa-magnifying-glass "></i>
                     </button>
                    </div>
                
                 <!-- <a href="#" class="nav-item nav-link"><i class="fa-solid fa-user "></i>Đăng nhập</a> -->
                 <div class="dropdown mr-2">
                    <a
                      class=" d-flex align-items-center hidden-arrow"
                      href="#"
                      id="navbarDropdownMenuAvatar"
                      role="button"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                      hidden
                    >
                    <i class="fa-solid fa-bell"></i>
                    </a>
                    <ul
                      class="dropdown-menu dropdown-menu-end  tb-hind "
                      aria-labelledby="navbarDropdownMenuAvatar"
                    >
                    <div class="my-3 luia px-2">
                      <p><strong>Thông báo</strong></p>
                      <div class="theme-switch">
                        <div class="switch"></div>
                      </div>
                    </div>
                    <div class="list_tb">
                      <li class="d-flex p-1 gap10 align-items-center mb-2">
                        <div class="img-tb">
                          <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/311872178_1179919565931920_215782886144448130_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=bsh8eV1wJGEAX-o83q5&_nc_ht=scontent.fdad1-3.fna&oh=00_AfBm5E_qWi3dRYSc9_gnjByAlzpKxq2UtvC9_w_KCEZBbA&oe=63A86032" alt="">
                        </div>
                        <div>
                          <p class="tt-tb"><strong>Chương</strong> đã nhắc bình luận trong gì đóaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                          <p style="color: #1876f2;">1 ngày trước</p>
                        </div>
                      </li>
                      <li class="d-flex p-1 gap10 align-items-center mb-2">
                        <div class="img-tb">
                          <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/311872178_1179919565931920_215782886144448130_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=bsh8eV1wJGEAX-o83q5&_nc_ht=scontent.fdad1-3.fna&oh=00_AfBm5E_qWi3dRYSc9_gnjByAlzpKxq2UtvC9_w_KCEZBbA&oe=63A86032" alt="">
                        </div>
                        <div>
                          <p class="tt-tb"><strong>Chương</strong> đã nhắc bình luận trong gì trong ảnh của bạn thi phải </p>
                          <p style="color: #1876f2;">1 ngày trước</p>
                        </div>
                      </li>
                      <li class="d-flex p-1 gap10 align-items-center mb-2">
                        <div class="img-tb">
                          <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/311872178_1179919565931920_215782886144448130_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=bsh8eV1wJGEAX-o83q5&_nc_ht=scontent.fdad1-3.fna&oh=00_AfBm5E_qWi3dRYSc9_gnjByAlzpKxq2UtvC9_w_KCEZBbA&oe=63A86032" alt="">
                        </div>
                        <div>
                          <p class="tt-tb"><strong>Chương</strong> đã nhắc bình luận trong gì trong ảnh của bạn thi phải </p>
                          <p style="color: #1876f2;">1 ngày trước</p>
                        </div>
                      </li>
                      <li class="d-flex p-1 gap10 align-items-center mb-2">
                        <div class="img-tb">
                          <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/311872178_1179919565931920_215782886144448130_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=bsh8eV1wJGEAX-o83q5&_nc_ht=scontent.fdad1-3.fna&oh=00_AfBm5E_qWi3dRYSc9_gnjByAlzpKxq2UtvC9_w_KCEZBbA&oe=63A86032" alt="">
                        </div>
                        <div>
                          <p class="tt-tb"><strong>Chương</strong> đã nhắc bình luận trong gì trong ảnh của bạn thi phải </p>
                          <p style="color: #1876f2;">1 ngày trước</p>
                        </div>
                      </li>
                    </div>
                    </ul>
                  </div>
                  <div class="dropdown ">
                    <a
                      class=" d-flex align-items-center hidden-arrow"
                      href="#"
                      id="navbarDropdownMenuAvatar"
                      role="button"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                      hidden
                    >
                      <img
                        src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                        class="rounded-circle"
                        height="25"
                        alt="Black and White Portrait of a Man"
                        loading="lazy"
                      />
                    </a>
                    <ul
                      class="dropdown-menu dr-t2 dropdown-menu-end"
                      aria-labelledby="navbarDropdownMenuAvatar"
                    >
                    
                      <li>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i>Tài khoản của tôi </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a>
                      </li>
                     
                    </ul>
                  </div>
                </div>
             </div>
             </div>
            
            
         </div>
     </nav>
     <div class="container-fluid b1 hk bb">
         <div class="d-flex justify-content-between align-items-center">
             <li><i class="fa-solid fa-house"></i></li>
             <ul class="d-flex justify-content-between align-items-center b0 py-3 head w-100 ">
                 
                 <li>Thời sự</li>
                 <li>Góc nhìn</li>
                 <li>Thế giới</li>
                 <li>Video</li>
                 <li>Podcasts</li>
                 <li>Kinh doanh</li>
                 <li>Khoa học</li>
                 <li>Giải trí</li>
                 <li>Thể thao</li>
                 <li>Pháp luật</li>
                 <li>Giáo dục</li>
                 <li>Sức khỏe</li>
                 <li>Đời sống</li>
                 <li>Du lịch</li>
                 <li>Số hóa</li>
                 <li>Xe </li>
                 <li>ý kiến</li>
             </ul>
         </div>
     </div>
     <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"
></script>
<script src="../js/index.js"></script>
</body>
</html>
