<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/index.css">
    
    
  </head>
  <body>
    <nav class="navbar container  navbar-expand-md navbar-light ">
      <div class="br">
       <img src="https://s1.vnecdn.net/vnexpress/restruct/i/v690/v2_2019/pc/graphics/logo.svg" class="img-fluid mr-3 " alt="">
      </div>
       <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
           <span class="navbar-toggler-icon"></span>
       </button>
   
       <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
           <div class="navbar-nav">
               <span href="#" class="nav-item nav-link">Thứ 6,9/12/2022</span>
               
           </div>
           <div class=" d-flex align-items-center">
              <div class="mr-3 br">
              <div class="g10 mr-3">
               <a href="" class="tl"><i class="fa-solid fa-clock  "></i></i>Mới nhất</a>
               <a href="" class="tl"><i class="fa-solid fa-location-dot  "></i>Tin khu vực</a>
               <a href="" class="tl">International</a>
              </div>
              </div>
              <div class="navbar-nav ml-auto br align-items-center">
              
                  <div class="search">
                   <input type="text" placeholder="Tìm kiếm" class="ip">
                   <button class="sr">
                       <i class="fa-solid fa-magnifying-glass "></i>
                   </button>
                  </div>
              
               <a href="#" class="nav-item nav-link"><i class="fa-solid fa-user "></i>Đăng nhập</a>
           </div>
           </div>
          
          
       </div>
   </nav>
   <div class="container-fluid b1 hk bb">
       <div class="d-flex justify-content-between align-items-center">
           <li><i class="fa-solid fa-house"></i></li>
           <ul class="d-flex justify-content-between align-items-center b0 py-3 head w-100 ">
               
               <li>Thời sự</li>
               <li>Góc nhìn</li>
               <li>Thế giới</li>
               <li>Video</li>
               <li>Podcasts</li>
               <li>Kinh doanh</li>
               <li>Khoa học</li>
               <li>Giải trí</li>
               <li>Thể thao</li>
               <li>Pháp luật</li>
               <li>Giáo dục</li>
               <li>Sức khỏe</li>
               <li>Đời sống</li>
               <li>Du lịch</li>
               <li>Số hóa</li>
               <li>Xe </li>
               <li>ý kiến</li>
           </ul>
       </div>
   </div>
    <section class="mt-5">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form>
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                  <p class="lead fw-normal mb-0 me-3 mr-5">Đăng ký với</p>
                  <button type="button" class="btn btn-primaryy btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
      
                  <button type="button" class="btn btn-primaryy btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
      
                  <button type="button" class="btn btn-primaryy btn-floating mx-1">
                    <i class="fab fa-linkedin-in"></i>
                  </button>
                </div>
      
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0">Or</p>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" class="w-100 px-3 py-2 clm" placeholder="Nhập tên">
                    
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" class="w-100 px-3 py-2 clm" placeholder="Nhập email">
                    
                  </div>
                  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="password" class="w-100 px-3 py-2 clm" placeholder="Nhập mật khẩu">
                  
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" class="w-100 px-3 py-2 clm" placeholder="Nhập lại mật khẩu">
                  
                </div>
      
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-0 d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3">
                      Lưu mật khẩu
                    </label>
                  </div>
                  <a href="#!" class="text-body">Quên mật khẩu</a>
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="button" class="btn btn-primaryym btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Đăng ký</button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Bạn đã có tài khoản <a href="login.html"
                      class="link-danger" style="color: red;">Đăng nhập</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
        
      </section>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/#[[latestVersion]]#/mdb.min.js"
    ></script>
  </body>
</html>
